html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat Regular, sans-serif;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
.header-separator{
    list-style-image: url(./images/desctopSD/Dot\ separator\ header.svg);
}
.footer-separator {
    list-style-image: url(./images/desctopSD/Dot\ separator\ footer.svg);
}
img {
    max-width: 100%;
}
.active {
    color: #FFFFFF;
    background-color: #F0145A;
}
.active__link {
    color: #F0145A;
}
@font-face {
    font-family: Montserrat Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@media (max-width:1920px){

}
@media (max-width:1440px){

}
@media (max-width:1024px){

}
@media (max-width:768px){

}
@media screen and (max-width:375px){
    .main {
        height: 3344px;
        width: 100%;
        padding: 0px 0px 60px 0px;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

    }
    .burger {
      width: 32px;
      height: 32px;
      display: flex;
      align-self: flex-start;
      margin-left: auto;
    }
    .burger:hover {
        background: #e6e6f0;
        border-radius: 8px;
    }

}
.burger{
    display: none;
}

.main-and-shadow{
    height: 2138px;
    width: 100%;
    .main {
        height: 2118px;
        width: 100%;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        border-radius: 0px 0px 12px 12px;
        .header{
            height: 800px;
            width: 100%;
            .header__wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 50px 60px 0px;
                gap: 381px;
                height: 116px;
                .header__logo {
                    height: 60px;
                    width: 130px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 4px;
                }
                .header__logo_rightside {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 16px;
                    .header__logo__info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 6px;
                        .header__info__links {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            .header__info__link{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 15px;
                                letter-spacing: 1px;
                                color: #FFFFFF;
                            }
                            .header__info__link__hover:hover{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                background: #FFFFFF33;
                            }
                        }
                    }
                    .header__address {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                    .header-tel {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                    .header__nav {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 15px; 
                        .header__nav__link {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;
                            font-family: Montserrat Bold;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20px;
                            letter-spacing: 0em;
                            color: #FFFFFF;
                        }
                    }   
                }
            }
                .header__symbol {
                    position: absolute;
                    text-align: center;
                    height: 799px;
                    width: 697px;
                    left: 372px;
                    top: 1px;
                    left: calc(50% - 697px/2 + 0.5px);
                    top: calc(50% - 799px/2 + 0.5px);
                }
                .header__title {
                    font-family: Montserrat Bold;
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 46px;
                    letter-spacing: 0em;
                    height: 46px;
                    width: 800px;
                    color: #FFFFFF;
                    display: block;
                    z-index: 1;
                    position: absolute;
                    left: calc(50% - 800px/2);
                    top: calc(50% - 46px/2);
                }
            
        }
    }
    .consistent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        width: 100%;
        gap: 10px;
        .consistent__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 60px;
            .consistent__wrapper__title {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 30px;
                padding-right: 60px;
                border-right: 4px solid #FFFFFF4D;
            }
            .consistent__wrapper__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                .consistent__wrapper__content__title {
                    font-family: Montserrat Bold;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 37px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
                .consistent__wrapper__content__text {
                    height: 150px;
                    width: 581px;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
            }
        }
        .consistent__title {
            font-family: Montserrat Bold;
            font-size: 38px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .consistent__title-secondary {
            font-family: Montserrat Bold;
            font-size: 38px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            color: #B3B3BA;
        }
    }
    .services {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 60px;
        gap: 60px;
        margin-top: 60px;
        margin-bottom: 60px;
        .services__title__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .services__title__block__title {
                font-family: Montserrat Bold;
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        .services__container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 60px;
            .services__container__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                .services__container__title {
                    font-family: Montserrat Bold;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #24A3FF;
                }
                .services__container__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
            }
        }
    }
    .shadow {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__first {
            height: 10px;
            width: 97.2%;
            // position: absolute;
            left: 20px;
            top: 0%;
            right: 20px;
            bottom: 50%;
            background: #CACADB;
            border-radius: 0px 0px 12px 12px;
        }
        &__second {
            height: 10px;
            width: 94.4%;
            left: 40px;
            top: 10px;
            bottom: 0%;
            border-radius: 0px 0px 12px 12px;
            background: #E7E7F2;
        }
    }
}
.title-with-arrow {
    display: flex;
    gap: 5.5px;
    .title-with-arrow__title {
        font-family: Montserrat Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
    }
}
.team {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px;
    gap: 30px;
    .team__block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 344px;
        width: 92%;
        left: 60px;
        top: 0px;
        border-radius: 12px;
        background: #F5F5FA;
        .team__block__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
            gap: 30px;
            .team__block__blockquote{
                left: 30px;
                top: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                .team__block__blockquote__text {
                    font-family: Montserrat Bold;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
            .team__block__blockquote__figcaption {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
            }
        }
    }
    .bar {
        height: 16px;
        width: 16px;
        border-radius: 100%;
        margin-right: 15px;
        cursor: pointer;
        background: #24A3FF;
        opacity: 0,2; 
        // transform: all 0.5 ease;
    }
}
.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    .clients__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        height: 17px;
        width: 209px;
        margin-bottom: 30px;
    }
    .clients__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 360px;
        width: 1440px;
        .clients__grid__icon {
            height: 120px;
            width: 360px;
        }
    }
}
.recomended {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 60px 0px;
    gap: 30px;
    background: #F5F5FA;
    .recomended__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .recomended__heading__title {
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-family: Montserrat Bold;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
        }
    }
    .recomended__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .recomended__items__wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 30px;
            .recomended__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 8px;
                width: 420px;
                height: 450px;
                background: #FFFFFF;
                .recomended__item__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 30px;
                    gap: 15px;
                    .recomended__item__title {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #24A3FF;
                    }
                    .recomended__item__date {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #B3B3BA;
                    }
                    .recomended__item__text {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #000000;
                    }
                }
            }
        }
    }
}
.footer {
    padding: 30px 60px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #F5F5FA;
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .footer__content {
            display: flex;
            flex-direction: row;
            .footer__info {
                display: flex;
                flex-direction: column;
                gap: 21px;
                align-items: flex-start;
                .footer__contacts {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                }
                .footer__info-adress {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    .footer__address {
                        color: #323264;
                    }
                    .map {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 15px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #24A3FF;
                    }
                }
                .footer__info-privacy {
                    margin-left: auto;
                    font-weight: 400;
                    text-align: center;
                    color: #B3B3BA;
                }
            }
        }
    }

}
