html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat Regular, sans-serif;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
img {
    max-width: 100%;
}
.active {
    color: #FFFFFF;
    background-color: #F0145A;
}
.active__link {
    color: #F0145A;
}
@font-face {
    font-family: Montserrat Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@media screen and (max-width:1920px){
    .header {
        background-image: url(./images/desctopHD/Symbol.png);
    }
    .services__container__item {
        max-width: 493.33px;
    }
    .team {
        width: 1600px;
        height: 298px;
    }
    .labels {
        margin-bottom: 60px;
        .labels__wrapper {
            border-radius: 12px;
        }
    }
    .recomended__item {
        width: 513.33px;
    }
}
@media screen and (max-width:1024px){
    .services__container__item {
        width: 261.33px;
    }
    .labels__icons {
        grid-template-columns: repeat(3, 1fr);
    }
    .team__block {
        width: 904px;
        height: 528px;
    }
    .recomended__item {
        width: 281.33px;
        height: 556px; 
    }
}
@media screen and (max-width:768px){
    .main-and-shadow {
        height: 2947px;
        width: 100%;
    }
    .header {
        background-image: url(./images/tabletSD/Symbol.png);
    }
    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 60px 0px;
        gap: 30px;
        .header__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px; 
            gap: 6px;
        }
        .header__nav {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 15px;
        }
    }
    .consistent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .consistent__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 60px;
            .consistent__wrapper__title {
                display: flex;
                padding-bottom: 60px;
            }
            .consistent__wrapper__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
        }
    }
    .team__block {
        width: 648px;
        height: 936px;
    }
    .labels__icons {
        grid-template-columns: repeat(2, 1fr);
    }
    .recomended__item {
        width: 309px;
        height: 514px;
    }
    .recomended__item-last {
        width: 648px;
        height: 388px;
    }
}
@media screen and (max-width:375px){
    .labels__icons {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-and-shadow { 
        height: 3364px;
        width: 100%;
       .main {
        height: 3344px;
        width: 100%;
        padding: 0px 0px 60px 0px;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 60px;
        gap: 30px;
        .header {
            height: 600px;
            .header__wrapper{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                .header__logo {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 15px 0px 10px;
                    gap: 4px;
                }
                .header_rightside {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 16px;
                    .header__info{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 15px;
                        gap: 6px;
                        background: rgba(245, 245, 250, 0.2);
                        .header__info__links {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            .header__info__link{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 15px;
                                letter-spacing: 1px;
                                color: #FFFFFF;
                            }
                            .header__info__link__hover:hover{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                background: #FFFFFF33;
                            }
                            .header__address {
                                display: none;
                            }
                            .header-tel {
                                font-family: Montserrat Bold;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }              
            }
        }
    }
    }
    .burger {
      width: 32px;
      height: 32px;
      display: flex;
      align-self: flex-start;
      margin-left: auto;
    }
    .burger:hover {
        background: #e6e6f0;
        border-radius: 8px;
    }

}
.burger{
    display: none;
}
.main-and-shadow{
    height: 2138px;
    width: 100%;
    .main {
        height: 2118px;
        width: 100%;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        border-radius: 0px 0px 12px 12px;
        .header{
            height: 800px;
            width: 100%;
            background-image: url(./images/desctopSD/Symbol.png);
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            gap: 261px;
            .header__wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 50px 60px 0px;
                gap: 381px;
                height: 116px;
                .header__logo {
                    height: 60px;
                    width: 130px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 4px;
                }
                .header_rightside {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 16px;
                    .header__info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 6px;
                        .header__info__links {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            .header__info__link{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 15px;
                                letter-spacing: 1px;
                                color: #FFFFFF;
                            }
                            .header__info__link__hover:hover{
                                height: 25px;
                                width: 33px;
                                border-radius: 8px;
                                padding: 5px 7px 5px 7px;
                                background: #FFFFFF33;
                            }
                        }
                    }
                    .header__address {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                    .header-tel {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                    .header__nav {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 15px; 
                        .header__nav__link {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;
                            font-family: Montserrat Bold;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20px;
                            letter-spacing: 0em;
                            color: #FFFFFF;
                        }
                    }   
                }
            }
            .header__title {
                font-family: Montserrat Bold;
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                height: 46px;
                width: 800px;
                color: #FFFFFF;
                text-align: center;
                align-self: center;
            }
            .consistent-button {
                margin-top: 44px;
                align-self: center;
            } 
        }
    }
    .consistent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        width: 100%;
        gap: 10px;
        .consistent__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 60px;
            .consistent__wrapper__title {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 30px;
                padding-right: 60px;
                border-right: 4px solid #FFFFFF4D;
            }
            .consistent__wrapper__content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                .consistent__wrapper__content__title {
                    font-family: Montserrat Bold;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 37px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
                .consistent__wrapper__content__text {
                    height: 150px;
                    width: 581px;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
            }
        }
        .consistent__title {
            font-family: Montserrat Bold;
            font-size: 38px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .consistent__title-secondary {
            font-family: Montserrat Bold;
            font-size: 38px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0em;
            color: #B3B3BA;
        }
    }
    .services {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 60px;
        gap: 60px;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 100%;
        .services__title__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .services__title__block__title {
                font-family: Montserrat Bold;
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        .services__container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 60px;
            .services__container__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                max-width: 400px;
                flex-grow: 1;
                .services__container__title {
                    font-family: Montserrat Bold;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #24A3FF;
                }
                .services__container__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;
                    color: #FFFFFF;
                }
            }
        }
    }
    .shadow {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__first {
            height: 10px;
            width: 97.2%;
            left: 20px;
            top: 0%;
            right: 20px;
            bottom: 50%;
            background: #CACADB;
            border-radius: 0px 0px 12px 12px;
        }
        &__second {
            height: 10px;
            width: 94.4%;
            left: 40px;
            top: 10px;
            bottom: 0%;
            border-radius: 0px 0px 12px 12px;
            background: #E7E7F2;
        }
    }
}
.title-with-arrow {
    display: flex;
    gap: 5.5px;
    &__title {
        font-family: Montserrat Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
    }
}
.team {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px;
    gap: 30px;
    .team__block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 344px;
        width: 1320px;
        left: 60px;
        top: 0px;
        border-radius: 12px;
        background: #F5F5FA;
        .team__block__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
            gap: 30px;
            .team__block__blockquote{
                left: 30px;
                top: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                .team__block__blockquote__text {
                    font-family: Montserrat Bold;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
            .team__block__blockquote__figcaption {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
            }
        }
    }
    .bar {
        height: 16px;
        width: 16px;
        border-radius: 100%;
        margin-right: 15px;
        cursor: pointer;
        background: #24A3FF;
        opacity: 0,2; 
        // transform: all 0.5 ease;
    }
}
.labels {
    padding-top: 60px;
    width: 100%;
    .labels__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        .labels__title {
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            height: 17px;
            width: 209px;
        }
        .labels__icons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .labels__icons__box {
                height: 120px;
                width: 360px;
                display: flex;
                align-items: center;
                justify-content: center;
                .labels__icons__box img{
                    height: 95px;
                    width: 217px;
                }
            }
            .icon-hillel {
                background: #1C4280;
            }
            .icon-wannabiz {
                background: #143646;
            }
            .icon-tapgerine {
                background: #F48B30;
            }
            .icon-3dlook{
                background: #9E4DC3;
            }
            .icon-orangear{
                background: #FD9339;
            }
            .icon-adtelligent {
                background: #E2E2E4;
            }
            .icon-clickky {
                background: #C71C36;
            }
            .icon-eco-leasing {
                background: #DCF3F9;
            }
            .icon-infatek {
                background: #EAEAEA;
            }
            .icon-city {
                background: #282240;
            }
            .icon-artprint {
                background: #1D4568;
            }
            .icon-ultimatecard {
                background: #000000;
            }
        }
    }
    
}
.recomended {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 60px 0px;
    gap: 30px;
    background: #F5F5FA;
    width: 100%;
    .recomended__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .recomended__heading__title {
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-family: Montserrat Bold;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
        }
    }
    .recomended__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .recomended__items__wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 30px;
            .recomended__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 8px;
                width: 420px;
                height: 450px;
                background: #FFFFFF;
                .recomended__item__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 30px;
                    gap: 15px;
                    .recomended__item__title {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #24A3FF;
                    }
                    .recomended__item__date {
                        font-family: Montserrat Bold;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #B3B3BA;
                    }
                    .recomended__item__text {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #000000;
                    }
                }
            }
        }
    }
}
.footer {
    padding: 30px 60px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #F5F5FA;
    .footer__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 511px;
        border-top: 2px solid #E6E6F0;
        padding-top: 30px;
        .footer__info {
            display: flex;
            flex-direction: column;
            gap: 21px;
            align-items: flex-start;
            .footer__info-address {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .footer__address {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #323264;
                }
                .map {
                    font-family: Montserrat Bold;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #24A3FF;
                }
            }
            .footer__contacts {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .footer-tel {
                    font-family: Montserrat Bold;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #46466E;
                }
                .footer-email{
                    font-family: Montserrat Bold;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #24A3FF;
                }
            }
            // .footer__info-privacy {
            //     margin-left: auto;
            //     font-weight: 400;
            //     text-align: center;
            //     color: #B3B3BA;
            // }
        }
        .footer__wrapper-privacy {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
        }
    }

}
