html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat Regular, sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: Montserrat Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat Regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
.active {
  color: #FFFFFF;
  background-color: #F0145A;
}

.active__link:hover {
  color: #F0145A;
}

.consistent-button {
  display: inline-block;
}

.consistent-button img {
  transition: all 0.1s ease;
}

.consistent-button:hover img {
  opacity: 0;
}

.consistent-button:hover {
  background: url(./images/desctopSD/Scroll\ hover.svg) no-repeat 50% 50%;
}

.footer-facebook {
  display: inline-block;
}

.footer-facebook img {
  transition: all 0.1s ease;
}

.footer-facebook:hover img {
  opacity: 0;
}

.footer-facebook:hover {
  background: url(./images/desctopSD/Facebook-Footer\ hover.svg) no-repeat 50% 50%;
}

.header-facebook {
  display: inline-block;
}

.header-facebook img {
  transition: all 0.1s ease;
}

.header-facebook:hover img {
  opacity: 0;
}

.header-facebook:hover {
  background: url(./images/desctopSD/Facebook-Header\ hover.svg) no-repeat 50% 50%;
}

.arrow {
  display: inline-block;
}

.arrow img {
  transition: all 0.1s ease;
}

.arrow:hover img {
  opacity: 0;
}

.arrow:hover {
  background: url(./images/desctopSD/red-arrow.svg) no-repeat 50% 50%;
  background-position: right;
}

.burger {
  display: none;
}

.main-and-shadow {
  min-height: 2138px;
  width: 100%;
}
.main-and-shadow .main {
  min-height: 2118px;
  width: 100%;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.main-and-shadow .main .header {
  height: 800px;
  width: 100%;
  background-image: url(./images/desctopSD/Symbol.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 261px;
}
.main-and-shadow .main .header .header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 60px 0px;
  gap: 381px;
  height: 116px;
}
.main-and-shadow .main .header .header__wrapper .header__logo {
  height: 60px;
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}
.main-and-shadow .main .header .header__wrapper .header_rightside {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header__info__link {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header__info__link__hover:hover {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  background: rgba(255, 255, 255, 0.2);
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header-tel {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header-tel:hover {
  color: #F0145A;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__nav .header__nav__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  font-family: Montserrat Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow .main .header .header__wrapper .header_rightside .header__nav .header__nav__link:hover {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 3px;
}
.main-and-shadow .main .header .header__title {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  height: 46px;
  width: 800px;
  color: #FFFFFF;
  text-align: center;
  align-self: center;
}
.main-and-shadow .main .header .consistent-button {
  margin-top: 44px;
  align-self: center;
}
.main-and-shadow .consistent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  gap: 10px;
}
.main-and-shadow .consistent .consistent__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3019607843);
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__title .consistent__wrapper__title-main {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__title .consistent__wrapper__title-secondary {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  color: #B3B3BA;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__title .consistent__wrapper__title-secondary:hover {
  color: #F0145A;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__content .consistent__wrapper__content__title {
  font-family: Montserrat Bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow .consistent .consistent__wrapper .consistent__wrapper__content .consistent__wrapper__content__text {
  height: 150px;
  width: 581px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow .services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 60px;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.main-and-shadow .services .services__title__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main-and-shadow .services .services__title__block .services__title__block__title {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-and-shadow .services .services__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
}
.main-and-shadow .services .services__container .services__container__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 400px;
  flex-grow: 1;
}
.main-and-shadow .services .services__container .services__container__item .services__container__title {
  font-family: Montserrat Bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  color: #24A3FF;
}
.main-and-shadow .services .services__container .services__container__item .services__container__title:hover {
  color: #F0145A;
}
.main-and-shadow .services .services__container .services__container__item .services__container__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow .shadow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-and-shadow .shadow__first {
  height: 10px;
  width: 97.2%;
  left: 20px;
  top: 0%;
  right: 20px;
  bottom: 50%;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.main-and-shadow .shadow__second {
  height: 10px;
  width: 94.4%;
  left: 40px;
  top: 10px;
  bottom: 0%;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

.title-with-arrow {
  display: flex;
  gap: 5.5px;
}
.title-with-arrow__title {
  font-family: Montserrat Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.team {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px;
  gap: 30px;
  margin-bottom: 60px;
}
.team .team__block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  left: 60px;
  top: 0px;
  border-radius: 12px;
  background: #F5F5FA;
}
.team .team__block .team__block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
}
.team .team__block .team__block__wrapper .team__block__blockquote {
  left: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.team .team__block .team__block__wrapper .team__block__blockquote .team__block__blockquote__text {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.team .team__block .team__block__wrapper .team__block__blockquote__figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.team .radio__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.team .radio__wrapper .radio {
  position: relative;
}
.team .radio__wrapper .radio .radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}
.team .radio__wrapper .radio .radio__label {
  cursor: pointer;
}
.team .radio__wrapper .radio .radio__label::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #24A3FF;
  opacity: 0.2;
}
.team .radio__wrapper .radio .radio__label::after {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.team .radio__wrapper .radio .radio__input:checked + .radio__label::after {
  opacity: 1;
}

.labels {
  padding-top: 60px;
  width: 100%;
}
.labels .labels__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.labels .labels__wrapper .labels__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  height: 17px;
  width: 209px;
}
.labels .labels__wrapper .labels__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.labels .labels__wrapper .labels__icons .labels__icons__box {
  height: 120px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labels .labels__wrapper .labels__icons .labels__icons__box .labels__icons__box img {
  height: 95px;
  width: 217px;
}
.labels .labels__wrapper .labels__icons .icon-hillel {
  background: #1C4280;
}
.labels .labels__wrapper .labels__icons .icon-wannabiz {
  background: #143646;
}
.labels .labels__wrapper .labels__icons .icon-tapgerine {
  background: #F48B30;
}
.labels .labels__wrapper .labels__icons .icon-3dlook {
  background: #9E4DC3;
}
.labels .labels__wrapper .labels__icons .icon-orangear {
  background: #FD9339;
}
.labels .labels__wrapper .labels__icons .icon-adtelligent {
  background: #E2E2E4;
}
.labels .labels__wrapper .labels__icons .icon-clickky {
  background: #C71C36;
}
.labels .labels__wrapper .labels__icons .icon-eco-leasing {
  background: #DCF3F9;
}
.labels .labels__wrapper .labels__icons .icon-infatek {
  background: #EAEAEA;
}
.labels .labels__wrapper .labels__icons .icon-city {
  background: #282240;
}
.labels .labels__wrapper .labels__icons .icon-artprint {
  background: #1D4568;
}
.labels .labels__wrapper .labels__icons .icon-ultimatecard {
  background: #000000;
}

.recomended {
  background: #F5F5FA;
  width: 100%;
}
.recomended .recomended__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 60px 0px;
  gap: 30px;
  max-width: 1320px;
}
.recomended .recomended__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.recomended .recomended__heading .recomended__heading__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
.recomended .recomended__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.recomended .recomended__items .recomended__items__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 420px;
  height: 450px;
  background: #FFFFFF;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item .recomended__item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 15px;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item .recomended__item__content .recomended__item__title {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item .recomended__item__content .recomended__item__title:hover {
  color: #F0145A;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item .recomended__item__content .recomended__item__date {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.recomended .recomended__items .recomended__items__wrapper .recomended__item .recomended__item__content .recomended__item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  border-top: 4px solid #E6E6F0;
  padding-top: 15px;
}

.footer {
  padding: 30px 60px 30px;
  background: #F5F5FA;
}
.footer .footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 511px;
  border-top: 2px solid #E6E6F0;
  padding-top: 30px;
}
.footer .footer__wrapper .footer__info {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
}
.footer .footer__wrapper .footer__info .footer__info-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer .footer__wrapper .footer__info .footer__info-address .footer__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer .footer__wrapper .footer__info .footer__info-address .map {
  font-family: Montserrat Bold;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer .footer__wrapper .footer__info .footer__info-address .map:hover {
  color: #F0145A;
}
.footer .footer__wrapper .footer__info .footer__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer .footer__wrapper .footer__info .footer__contacts .footer-tel {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}
.footer .footer__wrapper .footer__info .footer__contacts .footer-tel:hover {
  color: #F0145A;
}
.footer .footer__wrapper .footer__info .footer__contacts .footer-email {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.footer .footer__wrapper .footer__info .footer__contacts .footer-email:hover {
  color: #F0145A;
}
.footer .footer__wrapper .footer__wrapper-privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

@media screen and (max-width: 1920px) {
  .header {
    background-image: url(./images/desctopHD/Symbol.png);
  }
  .services__container__item {
    max-width: 493.33px;
  }
  .team {
    max-width: 1600px;
    max-height: 298px;
  }
  .labels {
    margin-bottom: 60px;
  }
  .labels .labels__wrapper {
    border-radius: 12px;
  }
  .recomended__item {
    max-width: 513.33px;
  }
}
@media screen and (max-width: 1024px) {
  .services__container__item {
    max-width: 261.33px;
  }
  .labels__icons {
    grid-template-columns: repeat(3, 1fr);
  }
  .team__block {
    width: 904px;
    max-height: 528px;
  }
  .recomended__item {
    max-width: 281.33px;
    max-height: 556px;
  }
}
@media screen and (max-width: 768px) {
  .main-and-shadow {
    height: 2947px;
    width: 100%;
  }
  .header {
    background-image: url(./images/tabletSD/Symbol.png);
  }
  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 0px;
    gap: 30px;
  }
  .header__wrapper .header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
  }
  .header__wrapper .header__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
  }
  .consistent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .consistent .consistent__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
  .consistent .consistent__wrapper .consistent__wrapper__title {
    display: flex;
    padding-bottom: 60px;
  }
  .consistent .consistent__wrapper .consistent__wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .team__block {
    width: 648px;
    max-height: 936px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .labels__icons {
    grid-template-columns: repeat(2, 1fr);
  }
  .recomended__item {
    max-width: 309px;
    max-height: 514px;
  }
  .recomended__item-last {
    max-width: 648px;
    max-height: 388px;
  }
}
@media screen and (max-width: 375px) {
  .burger {
    width: 32px;
    height: 32px;
    display: flex;
    align-self: flex-start;
    margin-left: auto;
  }
  .burger:hover {
    background: #e6e6f0;
    border-radius: 8px;
  }
  .main-and-shadow {
    max-height: 3364px;
    width: 100%;
  }
  .main-and-shadow .main {
    max-height: 3344px;
    width: 100%;
    padding: 0px 0px 60px 0px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 60px;
    gap: 30px;
  }
  .main-and-shadow .main .header {
    max-height: 600px;
  }
  .main-and-shadow .main .header .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .main-and-shadow .main .header .header__wrapper .header__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 0px 10px;
    gap: 4px;
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 6px;
    background: rgba(245, 245, 250, 0.2);
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header__info__link {
    height: 25px;
    width: 33px;
    border-radius: 8px;
    padding: 5px 7px 5px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header__info__link__hover:hover {
    height: 25px;
    width: 33px;
    border-radius: 8px;
    padding: 5px 7px 5px 7px;
    background: rgba(255, 255, 255, 0.2);
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header__address {
    display: none;
  }
  .main-and-shadow .main .header .header__wrapper .header_rightside .header__info .header__info__links .header-tel {
    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .consistent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .consistent .consistent__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
  .consistent .consistent__wrapper .consistent__wrapper__title {
    display: flex;
    padding-bottom: 60px;
  }
  .consistent .consistent__wrapper .consistent__wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .consistent .consistent__wrapper .consistent__wrapper__content .consistent__wrapper__content__title {
    font-size: 20px;
  }
  .consistent .consistent__wrapper .consistent__title {
    font-size: 30px;
  }
  .services__title__block__title {
    font-size: 30px;
  }
  .team__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 315px;
    max-height: 1087px;
  }
  .labels__icons {
    grid-template-columns: repeat(1, 1fr);
  }
  .recomended {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .footer .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-top: 2px solid #E6E6F0;
    padding-top: 30px;
  }
  .footer .footer__wrapper .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }
  .footer .footer__wrapper .footer__info .footer__info-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer .footer__wrapper .footer__info .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.main-and-shadow-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 1064px;
}
.main-and-shadow-services .main-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 60px;
  gap: 60px;
  width: 100%;
  min-height: 1044px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.main-and-shadow-services .main-services .header-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 60px 0px;
  gap: 381px;
  width: 100%;
}
.main-and-shadow-services .main-services .header-services .header__logo-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}
.main-and-shadow-services .main-services .header-services .header__logo-services .header__logo__link {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__info-services {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__info-services .header__info__links-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__info-services .header__info__links-services .header__info__link-services {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__info-services .header__info__links-services .header__info__link__hover-services:hover {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  background: rgba(255, 255, 255, 0.2);
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__address-services {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header-tel-services {
  font-family: Montserrat Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header-tel-services:hover {
  color: #F0145A;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__nav-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__nav-services .header__nav__link-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  font-family: Montserrat Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__nav-services .header__nav__link-services:hover {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 3px;
}
.main-and-shadow-services .main-services .header-services .header_rightside-services .header__nav-services .header__nav__link-services-checked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  font-family: Montserrat Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.main-and-shadow-services .services-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 60px;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.main-and-shadow-services .services-services .services__title__block-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main-and-shadow-services .services-services .services__title__block-services .services__title__block__title-services {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-and-shadow-services .services-services .services__container-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
}
.main-and-shadow-services .services-services .services__container-services .services__container__item-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 400px;
  flex-grow: 1;
}
.main-and-shadow-services .services-services .services__container-services .services__container__item-services .services__container__title-services {
  font-family: Montserrat Bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  color: #24A3FF;
}
.main-and-shadow-services .services-services .services__container-services .services__container__item-services .services__container__title-services:hover {
  color: #F0145A;
}
.main-and-shadow-services .services-services .services__container-services .services__container__item-services .services__container__text-services {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.main-and-shadow-services .shadow-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-and-shadow-services .shadow-services .shadow__first-services {
  height: 10px;
  width: 97.2%;
  left: 20px;
  top: 0%;
  right: 20px;
  bottom: 50%;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.main-and-shadow-services .shadow-services .shadow__second-services {
  height: 10px;
  width: 94.4%;
  left: 40px;
  top: 10px;
  bottom: 0%;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

@media screen and (max-width: 1920px) {
  .services__container__item-services {
    max-width: 493.33px;
  }
}
@media screen and (max-width: 1024px) {
  .services__container__item-services {
    width: 261.33px;
  }
}
@media screen and (max-width: 768px) {
  .main-and-shadow-services {
    height: 2947px;
    width: 100%;
  }
  .header__wrapper-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 0px;
    gap: 30px;
  }
  .header__wrapper-services .header__info-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
  }
  .header__wrapper-services .header__nav-services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
  }
}
@media screen and (max-width: 375px) {
  .main-and-shadow-services {
    height: 3364px;
    width: 100%;
  }
  .main-and-shadow-services .main-services {
    height: 3344px;
    width: 100%;
    padding: 0px 0px 60px 0px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 60px;
    gap: 30px;
  }
  .main-and-shadow-services .main-services .header-services {
    height: 600px;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header__logo-services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 0px 10px;
    gap: 4px;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 6px;
    background: rgba(245, 245, 250, 0.2);
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services .header__info__links-services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services .header__info__links-services .header__info__link-services {
    height: 25px;
    width: 33px;
    border-radius: 8px;
    padding: 5px 7px 5px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services .header__info__links-services .header__info__link__hover-services:hover {
    height: 25px;
    width: 33px;
    border-radius: 8px;
    padding: 5px 7px 5px 7px;
    background: rgba(255, 255, 255, 0.2);
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services .header__info__links-services .header__address-services {
    display: none;
  }
  .main-and-shadow-services .main-services .header-services .header__wrapper-services .header_rightside-services .header__info-services .header__info__links-services .header-tel-services {
    font-family: Montserrat Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=main.css.map */