html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat Regular, sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

.active {
  color: #FFFFFF;
  background-color: #F0145A;
}

.active__link {
  color: #F0145A;
}

@font-face {
  font-family: Montserrat Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat Regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@media screen and (max-width: 375px) {
  .main {
    height: 3344px;
    width: 100%;
    padding: 0px 0px 60px 0px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }
  .burger {
    width: 32px;
    height: 32px;
    display: flex;
    align-self: flex-start;
    margin-left: auto;
  }
  .burger:hover {
    background: #e6e6f0;
    border-radius: 8px;
  }
}
.burger {
  display: none;
}

.main {
  height: 2118px;
  width: 100%;
  max-width: Fill 1, 440px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.main .logo {
  height: 60px;
  width: 130px;
}
.main .header_rightside {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.main .header_rightside .header .header__info {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.main .header_rightside .header .header__info .dot-separator {
  list-style-image: url(./images/desctopSD/Dot\ separator.svg);
}
.main .header_rightside .header .header__info .header__info__link {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  font-family: Montserrat Regular;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.main .header_rightside .header .header__info .header__info__link:hover {
  height: 25px;
  width: 33px;
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  background: rgba(255, 255, 255, 0.2);
}
.main .title-block {
  height: 1000px;
  width: 872px;
  position: relative;
}
.main .title-block .title-block__symbol {
  display: inline-block;
  position: relative;
  text-align: center;
}
.main .title-block .title-block__title {
  font-family: Montserrat Bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  height: 46px;
  width: 800px;
  color: #FFFFFF;
  display: block;
  position: absolute;
  z-index: 1;
  top: -100px;
}

.clients .clients__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 360px;
  width: 1440px;
}
.clients .clients__grid .clients__grid__icon {
  height: 120px;
  width: 360px;
}

.footer {
  padding: 30px 60px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #F5F5FA;
}
.footer .footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footer__wrapper .footer__content {
  display: flex;
  flex-direction: row;
}
.footer .footer__wrapper .footer__content .footer__info {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
}
.footer .footer__wrapper .footer__content .footer__info .footer__contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer .footer__wrapper .footer__content .footer__info .footer__info-adress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer .footer__wrapper .footer__content .footer__info .footer__info-adress .footer__address {
  color: #323264;
}
.footer .footer__wrapper .footer__content .footer__info .footer__info-adress .map {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer .footer__wrapper .footer__content .footer__info .footer__info-privacy {
  margin-left: auto;
  font-weight: 400;
  text-align: center;
  color: #B3B3BA;
}/*# sourceMappingURL=main.css.map */